<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
">
    
    <bean id="foo" class="com.sample.Foo">
        <property name="list" value="barA,barUnknown,barB"/>
    </bean>
    
    <bean id="barA" class="com.sample.Bar"/>
    <bean id="barB" class="com.sample.Bar"/>
    
    
    <bean id="converter" class="com.sample.spring.StringToBeanConverter"/>
    
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.List">
                    <ref local="converter" />
                </entry>
            </map>
        </property>
    </bean>
</beans>
